[Unit]
Description=Streamlit BTC Trend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/crypto
ExecStart=/home/ubuntu/crypto/venv/bin/streamlit run btc_trend.py --server.port 8502
Restart=always

[Install]
WantedBy=multi-user.target