[Unit]
Description=Streamlit Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/lemp-app
# Ajetaan suoraan virtuaaliympäristön pythonilla
ExecStart=/home/ubuntu/lemp-app/venv/bin/python -m streamlit run /home/ubuntu/lemp-app/streamlit_test.py --server.port=8501 --server.address=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target

# [Unit]
# Description=Streamlit Server
# After=network.target

# [Service]
# User=ubuntu
# WorkingDirectory=/home/ubuntu/lemp-app/
# ExecStart=/bin/bash -c "source /home/ubuntu/lemp-app/venv/bin/activate && pip
# install -r /home/ubuntu/lemp-app/.streamlit/requirements.txt &&
# streamlit run /home/ubuntu/lemp-app/streamlit_test.py"
# Restart=always

# [Install]
# WantedBy=multi-user.target
