[Unit]
Description=Streamlit Server
After=network.target
[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/test/Stream_CSC
ExecStart=/bin/bash -c "source /home/ubuntu/test/venv/bin/activate && pip
install -r /home/ubuntu/test/Stream_CSC/.streamlit/requirements.txt &&
streamlit run /home/ubuntu/test/Stream_CSC/Streamlit_test.py"
Restart=always
[Install]
WantedBy=multi-user.target